.projects-container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 65px 20px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 2em;
  font-family: 'Lora', serif;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.project-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.project-image-1 {
  background-image: url('./images/dog.png'); 
  background-size: cover;
  height: 180px;
}

.project-image-2 {
  background-image: url('./images/resume.png'); 
  background-size: cover;
  background-position: center;
  height: 180px;
}

.project-image-3 {
  background-image: url('./images/portfolio.png'); 
  background-size: cover;
  background-position: center;
  height: 180px;
}

.project-content {
  padding: 20px;
}

.project-content h3 {
  margin: 0px;
  font-size: 1.5em;
}

.project-content p {
  margin: 10px 0px;
}

.project-links {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.button {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.3s;
}

.button:hover {
  background: #444;
}

.project-tags {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.tag {
  background: #e0e0e0;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 0.9em;
}